.formacao {
  background-color: var(--cor-textos);
}
.formacao__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  padding: 5vw 5vw;
  background-color: var(--cor-textos);
  margin: 0 auto;
  gap: 6.5rem;
}
.formacao__titulo {
  font-size: 80px;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 6ch;
  color: var(--formacao-titulo);
}
.formacao__conteudo {
  padding-left: 70px;
}
.formacao__texto {
  font-size: 22px;
  color: var(--cinza-claro);
  margin-bottom: 50px;
  max-width: 45ch;
  padding-left: 50px;
}
.formacao__texto strong {
  color: var(--formacao-texto-branco);
}
.formacao__info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-left: 50px;
}
.formacao__cursos {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px 30px;
  border-radius: 4px;
  flex-basis: 150px;
  background-color: var(--formacao-background-cursos);
  /* word-break: break-all; */
}
.formacao__nome-formacao {
  color: var(--formacao-texto-cinza);
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 100;
}
.formacao__cargo {
  margin-bottom: 10px;
  flex: 1;
  color: var(--formacao-texto-branco);
  position: relative;
}
.formacao__instituicao {
  color: var(--formacao-texto-cinza);
  font-weight: 600;
}
.formacao__cargo::before {
  display: block;
  content: "";
  width: 10px;
  height: 16px;
  position: absolute;
  display: flex;
  border-right: 4px solid red;
  left: -44px;
  top: -4px;
}
.formacao__complemento {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px 0 50px 50px;
  gap: 50px;
}
.formacao__curso-intensivo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.curso-intensivo__lista {
  display: flex;
}
.curso__intensivo-titulo {
  color: var(--formacao-texto-cinza);
  position: relative;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.curso__intensivo-titulo::before {
  display: block;
  content: "";
  position: absolute;
  background-image: url(../src/img/cursos.svg);
  width: 20px;
  height: 20px;
  left: -25px;
  top: -5px;
}
.nome__curso {
  width: 100%;
  font-size: 16px;
  color: var(--formacao-texto-branco);
  position: relative;
}
.curso__horas {
  color: var(--cinza-claro);
  position: relative;
}
.formacao__idiomas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.idioma__titulo {
  color: var(--formacao-texto-cinza);
  position: relative;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.idioma__titulo::before {
  display: block;
  content: "";
  position: absolute;
  background-image: url(../src/img/idiomas.svg);
  width: 20px;
  height: 20px;
  left: -25px;
  top: -5px;
}
.idioma {
  font-size: 16px;
  color: var(--formacao-texto-branco);
}
.idioma-nivel {
  font-size: 16px;
  color: var(--formacao-texto-cinza);
}
@media screen and (max-width: 800px) {
  .formacao__titulo {
    font-size: 50px;
  }
  .formacao__container {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0 auto;
    gap: 0;
  }
  .formacao__titulo {
    font-size: 50px;
    max-width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0;
  }
  .formacao__texto {
    max-width: 100%;
    text-align: center;
    padding: 0;
    line-height: 1.5;
  }
  .formacao__container {
    margin: 0 auto;
    padding: 0 10vw;
  }
  .formacao__info {
    margin: 0 auto;
    padding: 0 10vw;
  }
  .formacao__complemento {
    margin: 0 auto;
    padding: 50px 10vw;
  }
}
@media screen and (max-width: 555px) {
  .formacao__titulo {
    font-size: 40px;
  }
  .formacao__container {
    gap: 10px;
    margin: 0 auto;
    padding: 5vw;
  }
}
@media screen and (max-width: 500px) {
  .formacao__texto {
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
  }
  .formacao__container {
    padding: 0;
    margin: 0 auto;
  }
  .formacao__conteudo{
   padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .formacao__titulo {
    font-size: 25px;
  }
  .formacao__container {
    gap: 10px;
  }
  .formacao__texto{
   font-size: 16px;
  }
  .formacao__texto strong{
   font-size: 14px;
  }
  .formacao__cargo{
   font-size: 14px;
  }
  .formacao__conteudo{
   margin: 0 auto;
   padding: 0;
  }
}
